body
{background-color:green;}
h1
{color-pink;
font-family:chiller;
font-size:25px;}
h2
{color:violet;
font-family:cooper;
font-size:26px;}
p{color:purple;
font-family:arial;
font-size:30px;}